<div class="container">
{{#if item}}
	<div class="card card-body">
		<h3 class="text-primary">Items</h3>
		{{#each item}}
			<div class="card border-primary mb-2 w-100 mx-auto">
				<div class="card-header">
					<h5 class="card-title">{{name}}</h5>
				</div>
				<div class="card-body">
					<div class="row">
						<div class="col-sm-12 col-md-12 col-lg-3">
							<p class="font-italic">Price</p>
							<p class="text-info">
								{{price}}
							</p>
						</div>
						<div class="col-sm-12 col-md-12 col-lg-3">
							<p class="font-italic">Item Description</p>
							<p class="text-info">
								{{itemdes}}
							</p>
						</div>
						<div class="col-sm-12 col-md-12 col-lg-2">
							<p class="font-italic">Other Information</p>
							<p class="text-info">{{otherinfo}}</p>
						</div>		
					</div>
                </div>
            </div>
		{{/each}}
		</div>
	</div>
</div>

{{else}}
	<h3>No Items</h3>
{{/if}}